html{
  background:#FAFAFA;
}

*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  color:inherit;
  font-size: 18px;
  font-family: "Maven Pro", Arial, sans-serif;
}
