// color
$color-darkgrey: #333333;
$color-white: #FFF;
$color-teal: #00838F;
$color-lightteal: #E0F0F2;
$color-tealdarker: #00707C;
$color-seagreen: #68D0B6;
$color-lightgrey: #7B8292;
$color-palegrey: #FAFAFA;

$color-highlight: $color-teal;

// font sizing
// $font-huge:
$font-large: 70px;
$font-medium:24px;
$font-regular: 18px;
$font-small:14px;
$font-smaller:12px;
// $font-extrasmall:


//font-weight
$font-bolder: 700;
$font-bold: 500;
$font-regular: 400;
$font-light: 200;

// letter-spacing
$spacing-medium: 1px;
$spacing-small: 0.5px;
