
.filter__list{
  display: flex;
  justify-content: space-between;
  padding: 40px 50px;
}

.filter__item{
  background: white;
  color: $color-highlight;
  border: 1px solid $color-highlight;
  border-radius: 5px;
  font-size: $font-regular;
  font-weight:$font-bold;
  padding: 10px 68px;
  margin:5px;
  width: max-content;
}

.filter__item:hover{
  background: $color-lightteal;
}

.cards{
  width: 66%;
  margin: 0 auto;
  display:flex;
  flex-flow: row wrap;
}

.cards__card{
  width:33%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.card{
  width:350px;
  box-shadow: 0px 11px 15px rgba(0, 0, 0, 0.05), 0px 9px 46px rgba(0, 0, 0, 0.05), 0px 24px 38px rgba(0, 0, 0, 0.05);
  margin-bottom: 60px;
  background:white;
  border-radius: 4px;
  height:430px;
}

.card__asset{
  width:100%;
  border-radius: 4px 4px 0px 0px;
}

.card__titles{
  margin: 10px 25px;
}

.card__subheading{
  text-transform: uppercase;
  font-size:$font-small;
  letter-spacing: $spacing-medium;
  padding: 2px;
  color: $color-lightgrey;
  font-weight:$font-regular;
}

.card__heading{
  color: $color-tealdarker;
  font-weight: $font-bold;
  font-size: $font-medium;
}
.card__tags{
  overflow:scroll;
  margin-left:10px;
}

.tags{
  margin: 20px 0px;
  display:flex;
  width:max-content;
}

.tag__item{
  display: flex;
  margin: 5px;
  padding: 1px 5px;
  align-items: center;
  text-align: center;
  font-size: $font-small;
  color: $color-highlight;
  background: $color-lightteal;
  border-radius: 14px;
}

.fund-stats{
  display:flex;
}

.fund-stats__block{
  margin: 0px 40px 15px 25px;
}

.fund-stats__title{
  color:$color-lightgrey;
  font-size:$font-smaller;
  font-weight: $font-regular;
}

.fund-stats__figure{
  color: $color-highlight;
  font-size: $font-medium;
  font-weight: $font-regular;
}

.card__interactions{
  margin: 25px;
}
.card__more-info{
  font-size:$font-regular;
  color:$color-highlight;
  margin-right: 80px;
}

.card__button{
  background: $color-teal;
  border-radius:4px;
  color: $color-seagreen;
  font-weight:$font-bold;
  padding:10px 25px;
}
