.header{
  @include flex-apart;
  // display: flex;
  // justify-content: space-between;
  background-color: #FFF;
  align-items: center;
  padding: 1%;
}

.header__logo {
  margin-right: 50px;
  padding: 0px 20px;
}

.header__logo, .logo{
  display:flex;
  align-items: center;
}

.header__logo .logo__asset{
  height: 28px;
}

.header__nav{
  display: flex;
  align-items: center;
}

.nav{
  flex-grow:1;
}

.nav__list{
  display:flex;
  align-items: center;
}

.search, .nav__item{
  margin-left: 70px;
  font-weight: bold;
}

.nav__item--highlight{
  font-weight: bold;
  text-transform: uppercase;
  color: $highlight;
  letter-spacing: 0.5px;
  padding-right: 30px;
}

.search{
  border-bottom:1px solid $highlight;
}

.search__input{
  border:none;
  padding-left:10px;
}
